
$legacy: true !default;

// Black - White - Gray
// -----------------------------------------------------------------------------

$black : #000!default;
$white : #fff!default;

$gray-darker   : lighten($black, 13.5%)!default; // #222
$gray-dark     : lighten($black, 20%)!default;   // #333
$gray          : lighten($black, 40%)!default;   // #666
$gray-light    : lighten($black, 60%)!default;   // #999
$gray-lighter  : lighten($black, 93.5%)!default; // #eee


// Brand Colors
// -----------------------------------------------------------------------------

$primary   : #D91A29!default;
$secondary : lighten($primary, 15%)!default;
$success   : #5eb95e!default;
$warning   : #f37b1d!default;
$danger    : #dd514c!default;
$info      : #0e90d2!default;

$android   : #78c257!default;
$apple     : $gray!default;


// Background Colors
// -----------------------------------------------------------------------------

$background-light    : $white!default;
$background-dark     : $gray-dark!default;
$background-interact : #f3f3f3!default;

$background          : $background-light!default;


// Text Colors & Border Colors
// -----------------------------------------------------------------------------
$text-intense     : #1d1f21!default;
$text-color       : $gray-dark!default;
$text-muted       : $gray-light!default;
$link-color       : $text-color!default;
$link-hover-color : $primary!default;
$border-color     : #ddd!default;


// Fonts
// -----------------------------------------------------------------------------

$font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans !default;

$font-size-base    : 16px!default;
$font-size-xs      : $font-size-base - 4px!default; // 12px
$font-size-sm      : $font-size-base - 2px!default; // 14px
$font-size-default : $font-size-base!default;       // 16px
$font-size-lg      : $font-size-base + 2px!default; // 18px
$font-size-xl      : $font-size-base + 8px!default; // 24px
$font-size-xxl     : $font-size-base * 2!default;   // 32px
$font-size-xxxl    : $font-size-base * 2 + 10px!default; // 42px


// Gutter
// -----------------------------------------------------------------------------

$gutter-xs   : 5px!default;
$gutter-sm   : 10px!default;
$gutter-lg   : 15px!default;
$gutter-xl   : 20px!default;
$gutter-xxl  : 30px!default;
$gutter-xxxl : 50px!default;


// Zindex
// -----------------------------------------------------------------------------


// Width
// -----------------------------------------------------------------------------
$main-width: 1200px;
