
@mixin border-top-radius($radius: 0) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius: 0) {
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin border-left-radius($radius: 0) {
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin border-right-radius($radius: 0) {
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}
