
@mixin onepixel($position: bottom, $color: #ddd, $style: solid) {
	$dpr: (1.5, 2, 3);

	@if $position == 'horizotal' or $position == 'vetical' {
		&:before, &:after {
			content: " ";
			display: block;
			position: absolute;
		}

		@if $position == 'horizotal' {
			&:before, &:after {
				width: 100%;
				left: 0;
				border-top: 1px $style $color;
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}
		}	@else if $position == 'vetical' {
			&:before, &:after {
				height: 100%;
				top: 0;
				border-left: 1px $style $color;
			}

			&:before {
				left: 0;
			}

			&:after {
				right: 0;
			}
		}

		@each $var in $dpr {
			@media (-webkit-min-device-pixel-ratio: $var), (min-device-pixel-ratio: $var) {
				&:before, &:after {
					@if $position == 'horizotal' {
						transform: scaleY((1/$var));
					} @else if $position == 'vetical'{
						transform: scaleX((1/$var));
					}
				}
			}
		}
	} @else {
		&:after {
			content: " ";
			display: block;
			position: absolute;
			@if $position == 'top' or $position == 'bottom' {
				width: 100%;
				left: 0;
				#{$position}: 0;
				border-top: 1px $style $color;
			} @else if $position == 'left' or $position == 'right' {
				height: 100%;
				top: 0;
				#{$position}: 0;
				border-left: 1px $style $color;
			}
		}

		@each $var in $dpr {
			@media (-webkit-min-device-pixel-ratio: $var), (min-device-pixel-ratio: $var) {
				&:after {
					@if $position == 'top' or $position == 'bottom' {
						transform: scaleY((1/$var));
					} @else if $position == 'left' or $position == 'right' {
						transform: scaleX((1/$var));
					}
				}
			}
		}
	}
}
