@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/soshfont';

$sites: (
  weixin: #49b233,
  yixin: #23cfaf,
  weibo: #f04e59,
  qzone: #fdbe3d,
  renren: #1f7fc9,
  tieba: #5b95f0,
  douban: #228a31,
  tqq: #97cbe1,
  qq: #4081e1,
  weixintimeline: #1cb526
);
