@font-face {
  font-family: "iconfont";
  src: url('../iconfont/soshfont.eot');
  src: url('../iconfont/soshfont.eot?#iefix') format('eot'),
    url('../iconfont/soshfont.woff2') format('woff2'),
    url('../iconfont/soshfont.woff') format('woff'),
    url('../iconfont/soshfont.ttf') format('truetype'),
    url('../iconfont/soshfont.svg#soshfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

$sites: (
  weixin: #49b233,
  yixin: #23cfaf,
  weibo: #f04e59,
  qzone: #fdbe3d,
  renren: #1f7fc9,
  tieba: #5b95f0,
  douban: #228a31,
  tqq: #97cbe1,
  qq: #4081e1,
  weixintimeline: #1cb526
);
